<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="http://fonts.cdnfonts.com/css/caros" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<!------ Include the above in your HEAD tag ---------->

<body>
  <div id="login">
    <h1 class="text-center text-white pt-5">kona <span style="color: #E9204F;"> digital.ai</span></h1>
    <div class="container" style="color: #252C48;">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" action="" method="post">
              <h3 class="text-center text-white ">SIGN IN</h3>

              <div class="form-group"></div>
              <div class="form-group">
                <label for="username" class="text-info"></label><br>
                <input type="text" placeholder="EMAIL" id="username" class="form-control">
              </div>
              <div class="form-group">
                <label for="password" class="text-info"></label><br>
                <input type="text" placeholder="PASSWORD" id="password" class="form-control">
              </div>
              <br>
              <br>
             
              <div class="form-group" id="btn">
                
                  <button type="submit" class="btn btn-primary" > SIGN IN </button>

                <!-- <input type="submit" name="submit" class="btn btn-info btn-md" style="background-color: #E9204F;"
                  value="SIGN IN"> -->
              </div>
              <div id="register-link" class="text-center">
              </div>
        
              <div> <a href="#" class="text-info">Forgot Password</a>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>